openapi: 3.1.0
info:
  title: HashPass Events API
  version: 1.0.0-draft
  summary: Interoperable event ticket issuance / Emisión interoperable de tickets
  license:
    name: Proprietary contract preview / Vista previa de contrato propietario
    identifier: LicenseRef-Proprietary
  description: |
    Draft contract for the BSL pilot. English and Spanish descriptions are included
    so integrations do not depend on a single language. Payment approval MUST be
    verified server-to-server before ticket issuance.
servers:
  - url: https://api.hashpass.tech/v1
    description: Live / Producción
  - url: https://api-dev.hashpass.tech/v1
    description: Test / Pruebas
security:
  - bearerKey: []
tags:
  - name: Tickets
    description: Issue and manage event credentials / Emitir y administrar credenciales
paths:
  /events/{eventId}/tickets:
    parameters:
      - $ref: '#/components/parameters/EventId'
    post:
      tags: [Tickets]
      operationId: issueTicket
      summary: Issue a ticket / Emitir un ticket
      description: Idempotently issues one credential after trusted payment confirmation.
      security:
        - bearerKey: [tickets:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/IssueTicketRequest'}
      responses:
        '201':
          description: Issued / Emitido
          headers:
            X-Request-Id: {$ref: '#/components/headers/RequestId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Ticket'}
        '400': {$ref: '#/components/responses/BadRequest'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '409': {$ref: '#/components/responses/Conflict'}
        '429': {$ref: '#/components/responses/RateLimited'}
    get:
      tags: [Tickets]
      operationId: listTickets
      summary: List tickets / Listar tickets
      security:
        - bearerKey: [tickets:read]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Page / Página
          content:
            application/json:
              schema:
                type: object
                required: [data, hasMore]
                properties:
                  data: {type: array, items: {$ref: '#/components/schemas/Ticket'}}
                  nextCursor: {type: [string, 'null']}
                  hasMore: {type: boolean}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
  /events/{eventId}/tickets/{ticketId}:
    parameters:
      - $ref: '#/components/parameters/EventId'
      - name: ticketId
        in: path
        required: true
        schema: {type: string, pattern: '^tkt_[A-Za-z0-9]+$'}
    get:
      tags: [Tickets]
      operationId: getTicket
      summary: Get ticket / Consultar ticket
      security:
        - bearerKey: [tickets:read]
      responses:
        '200':
          description: Ticket
          content: {application/json: {schema: {$ref: '#/components/schemas/Ticket'}}}
        '404': {$ref: '#/components/responses/NotFound'}
    delete:
      tags: [Tickets]
      operationId: revokeTicket
      summary: Revoke ticket / Revocar ticket
      security:
        - bearerKey: [tickets:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Revoked / Revocado
          content: {application/json: {schema: {$ref: '#/components/schemas/Ticket'}}}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
components:
  securitySchemes:
    bearerKey:
      type: oauth2
      description: OAuth2 client credentials or an environment-scoped opaque API key.
      flows:
        clientCredentials:
          tokenUrl: https://api.hashpass.tech/oauth/token
          scopes:
            tickets:write: Issue and revoke tickets / Emitir y revocar
            tickets:read: Read tickets / Consultar tickets
  parameters:
    EventId:
      name: eventId
      in: path
      required: true
      schema: {type: string, pattern: '^evt_[A-Za-z0-9_]+$'}
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Unique mutation key retained for at least 24 hours.
      schema: {type: string, minLength: 8, maxLength: 255}
    RequestId:
      name: X-Request-Id
      in: header
      required: false
      schema: {type: string, maxLength: 128}
    Cursor:
      name: cursor
      in: query
      schema: {type: string}
    Limit:
      name: limit
      in: query
      schema: {type: integer, minimum: 1, maximum: 100, default: 25}
  headers:
    RequestId:
      description: Trace identifier safe to share with support.
      schema: {type: string}
  schemas:
    IssueTicketRequest:
      type: object
      additionalProperties: false
      required: [externalReference, ticketTypeId, attendee, payment]
      properties:
        externalReference: {type: string, minLength: 1, maxLength: 255}
        ticketTypeId: {type: string, minLength: 1, maxLength: 128}
        attendee: {$ref: '#/components/schemas/Attendee'}
        payment: {$ref: '#/components/schemas/PaymentEvidence'}
        metadata: {type: object, additionalProperties: true, maxProperties: 20}
    Attendee:
      type: object
      additionalProperties: false
      required: [email, fullName]
      properties:
        email: {type: string, format: email, maxLength: 254}
        fullName: {type: string, minLength: 1, maxLength: 200}
        phone: {type: string, maxLength: 32}
        locale: {type: string, pattern: '^[a-z]{2}(-[A-Z]{2})?$'}
    PaymentEvidence:
      type: object
      additionalProperties: false
      required: [provider, reference, status]
      properties:
        provider: {type: string, enum: [wompi, other]}
        reference: {type: string, minLength: 1, maxLength: 255}
        status: {type: string, const: approved}
    Ticket:
      type: object
      required: [id, eventId, externalReference, ticketTypeId, status, attendee, createdAt]
      properties:
        id: {type: string, pattern: '^tkt_[A-Za-z0-9]+$'}
        eventId: {type: string}
        externalReference: {type: string}
        ticketTypeId: {type: string}
        status: {type: string, enum: [active, checked_in, revoked]}
        attendee: {$ref: '#/components/schemas/Attendee'}
        createdAt: {type: string, format: date-time}
        revokedAt: {type: [string, 'null'], format: date-time}
    Problem:
      type: object
      required: [type, title, status, code, requestId]
      properties:
        type: {type: string, format: uri-reference}
        title: {type: string}
        status: {type: integer, minimum: 400, maximum: 599}
        detail: {type: string}
        code: {type: string}
        requestId: {type: string}
        errors: {type: array, items: {type: object}}
  responses:
    BadRequest: {$ref: '#/components/responses/Problem400'}
    Problem400:
      description: Invalid request / Solicitud inválida
      content: {application/problem+json: {schema: {$ref: '#/components/schemas/Problem'}}}
    Unauthorized:
      description: Missing or invalid credentials / Credenciales inválidas
      content: {application/problem+json: {schema: {$ref: '#/components/schemas/Problem'}}}
    Forbidden:
      description: Scope or tenant denied / Scope o tenant denegado
      content: {application/problem+json: {schema: {$ref: '#/components/schemas/Problem'}}}
    NotFound:
      description: Resource not found / Recurso no encontrado
      content: {application/problem+json: {schema: {$ref: '#/components/schemas/Problem'}}}
    Conflict:
      description: State or idempotency conflict / Conflicto de estado o idempotencia
      content: {application/problem+json: {schema: {$ref: '#/components/schemas/Problem'}}}
    RateLimited:
      description: Rate limited / Límite excedido
      headers:
        Retry-After: {schema: {type: integer, minimum: 1}}
      content: {application/problem+json: {schema: {$ref: '#/components/schemas/Problem'}}}
